In [1]:
import pandas as pd
import numpy as np
import re
import string

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

from flatlib.datetime import Datetime
from flatlib.geopos import GeoPos
from flatlib.chart import Chart
from flatlib import const

from timezonefinder import TimezoneFinder
from datetime import datetime
from pytz import timezone, utc

In [2]:
df = pd.read_csv('some-csvs-to-work-with/hi_its_fashion-models_df.csv')

In [3]:
df.head()

,name,info,occupation
0,Carrie-Anne_Moss,Gender:FemaleDate of Birth:21 August 1967 - 1...,r_fashion-models
1,Cameron_Diaz,Gender:FemaleDate of Birth:30 August 1972 - 0...,r_fashion-models
2,Milla_Jovovich,Gender:FemaleDate of Birth:17 December 1975 -...,r_fashion-models
3,Natalie_Portman,Gender:FemaleDate of Birth:9 June 1981 - 15:4...,r_fashion-models
4,Kim_Basinger,Gender:FemaleDate of Birth:8 December 1953 - ...,r_fashion-models

In [4]:
copy_df = df
copy_df['count'] = np.arange(len(copy_df))

In [5]:
def adios_weird_characters(i):
    s = copy_df.iloc[i].info
    printable = set(string.printable)
    return ''.join(filter(lambda x: x in printable, s))

In [6]:
copy_df['info_norm'] = copy_df['count'].apply(adios_weird_characters)
#copy_df_mod = copy_df.drop(['info'], axis=1)
copy_df_mod = copy_df
copy_df_mod = copy_df_mod.drop(['info'], axis=1)
copy_df_mod = copy_df_mod.rename(columns={"info_norm": "info"})

In [7]:
copy_df_mod.head()

,name,occupation,count,info
0,Carrie-Anne_Moss,r_fashion-models,0,Gender:FemaleDate of Birth:21 August 1967 - 1...
1,Cameron_Diaz,r_fashion-models,1,Gender:FemaleDate of Birth:30 August 1972 - 0...
2,Milla_Jovovich,r_fashion-models,2,Gender:FemaleDate of Birth:17 December 1975 -...
3,Natalie_Portman,r_fashion-models,3,Gender:FemaleDate of Birth:9 June 1981 - 15:4...
4,Kim_Basinger,r_fashion-models,4,Gender:FemaleDate of Birth:8 December 1953 - ...

In [23]:
def get_birthtime_info(row):
    b_info = copy_df_mod['info'][row]
    try:
        if '*' in b_info:
            return None
        if b_info == None:
            return None
        if '(gregor.)' in b_info:
            #b_info_mod_time = [b_info_mod_time[0][:-9]]
            b_info = b_info.replace('(gregor.)','')
        elif 'h(gregor.' in b_info:
            #b_info_mod_time = b_info_mod_time[:-8]
            b_info = b_info.replace('(gregor.','')
        b_info_mod = ''
        if 'Gender:FemaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:FemaleDate of Birth:', '')
        elif 'Gender:MaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:MaleDate of Birth:', '')
        if 'Birth place:' in b_info_mod:
            b_info_mod = b_info_mod.split('Birth place:')
        elif 'Country:' in b_info_mod:
            b_info_mod = b_info_mod.split('Country:')
        b_info_mod_time = b_info_mod[0]

        b_info_mod_time = b_info_mod_time.split(' - ')
        #print(b_info_mod_time)
        #print('...end of get_birthtime_info')

        return b_info_mod_time
    except:
        return None

def get_birthplace_info(row):
    b_info = copy_df_mod['info'][row]
    try:
        if '*' in b_info:
            return None
        if b_info == None:
            return None
        if '(gregor.)' in b_info:
            #b_info_mod_place = b_info_mod_place[:-9]
            b_info = b_info.replace('(gregor.)','')
        elif '(gregor.' in b_info:
            #b_info_mod_place = b_info_mod_place[:-8]
            b_info = b_info.replace('h(gregor.','')
        b_info_mod = ''
        if 'Gender:FemaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:FemaleDate of Birth:', '')
        elif 'Gender:MaleDate of Birth:' in b_info:
            b_info_mod = b_info.replace('Gender:MaleDate of Birth:', '')
        else:
            return None
        if 'Birth place:' in b_info_mod:
            b_info_mod = b_info_mod.split('Birth place:')
        elif 'Country:' in b_info_mod:
            b_info_mod = b_info_mod.split('Country:')
        b_info_mod_place = b_info_mod[1].split('Age:')
        b_info_mod_place = b_info_mod_place[0]
        b_info_mod_place = b_info_mod_place.split('Country:')
        #print(b_info_mod_place)
        #print('...end of get_birthplace_info')

        return b_info_mod_place
    except:
        return None

def convert_month_name_to_number(month):
    month = month.lower()
    if month == 'january':
        return 1
    elif month == 'february':
        return 2
    elif month == 'march':
        return 3
    elif month == 'april':
        return 4
    elif month == 'may':
        return 5
    elif month == 'june':
        return 6
    elif month == 'july':
        return 7
    elif month == 'august':
        return 8
    elif month == 'september':
        return 9
    elif month == 'october':
        return 10
    elif month == 'november':
        return 11
    elif month == 'december':
        return 12
    else:
        print('Not_a_month')
        return None

def time_formatter(time_lst):
    if time_lst == None:
        return None
    if len(time_lst) == 2:
        first = time_lst[0]
        month = " ".join(re.split("[^a-zA-Z]*", first))
        month = month.replace(' ', '')
        first = first.replace(' ', '')
        temp = first.split(month)
        day = temp[0]
        year = temp[1]
        time = time_lst[1]
        time = time[:-1]
        ans = [year, convert_month_name_to_number(month), day, time]
        print(ans)
        return ans
    elif len(time_lst) == 1:
        first = time_lst[0]
        month = " ".join(re.split("[^a-zA-Z]*", first))
        month = month.replace(' ', '')
        #print(month)
        first = first.replace(' ', '')
        temp = first.split(month)
        day = temp[0]
        year = temp[1]
        ans = [year, convert_month_name_to_number(month), day]
        print(ans)
        return ans
    print('No_time_info')
    return None
        
    
def place_formatter(place_lst):
    if place_lst == None:
        return None
    if len(place_lst) == 1:
        name = place_lst[0].split(', ')
        ans = name[1]
        return ans
    else:
        city_info = place_lst[0]
        country_info = place_lst[1]
        if ',' in city_info:
            city_info = city_info.split(', ')
        else:
            city_info = [city_info]
        if ',' in country_info:
            country_info = country_info.split(', ')
            country_info = country_info[1]
        if len(city_info) == 2:
            city = city_info[0]
            state = city_info[1]
        #elif len(city_info) == 1:
        else:
            city = city_info[0]
            state = 'no_state'
        country = country_info
        if state == 'no_state':
            ans = [city, country]
            ans = ', '.join(ans)
        else:
            ans = [city, state, country]
            ans = ', '.join(ans)
        print(ans)
        return ans

def make_time_column(row):
    return time_formatter(get_birthtime_info(row))

def make_place_column(row):
    return place_formatter(get_birthplace_info(row))

In [24]:
print(get_birthtime_info(0))
#print(make_time_column(0))
#convert_month_name_to_number('May')

['21 August  1967', '16:05h']

In [25]:
#copy_df_mod['birthtime'] = copy_df_mod['count'].apply(make_time_column)
'''
for _ in range(80):
    print(copy_df_mod.iloc[_].info)
    print(get_birthtime_info(_))
    print(make_time_column(_))


print(copy_df_mod.iloc[76].info)
print(get_birthtime_info(76))
print(copy_df_mod.iloc[77].info)
print(get_birthtime_info(77))
print(copy_df_mod.iloc[78].info)
print(get_birthtime_info(78))
print(copy_df_mod.iloc[79].info)
print(get_birthtime_info(79))
print(copy_df_mod.iloc[80].info)
print(get_birthtime_info(80))
print(copy_df_mod.iloc[81].info)
print(get_birthtime_info(81))
print(copy_df_mod.iloc[82].info)
print(get_birthtime_info(82))
'''
copy_df_mod['birthplace'] = copy_df_mod['count'].apply(make_place_column)


'''
for _ in range(80):
    print(copy_df_mod.iloc[_].info)
    print(get_birthplace_info(_))
    print(make_place_column(_))


print(copy_df_mod.iloc[32].info)
print(get_birthplace_info(32))
print(place_formatter(get_birthplace_info(32)))
print(copy_df_mod.iloc[33].info)
print(get_birthplace_info(33))
print(place_formatter(get_birthplace_info(33)))
'''

Vancouver, British Columbia, Canada
San Diego, California, United States
Kiev, Ukraine
Jerusalem, Israel
Athens, Georgia, United States
Burbank, California, United States
Benoni, South Africa
Cleveland, Ohio, United States
Birmingham, Alabama, United States
Hampshire, England, United Kingdom
New Orleans, Louisiana, United States
Paris, France
Los Angeles, California, United States
Saint-Maur-des-Fosss, France
Chicago Heights, Illinois, United States
Ladysmith, British Columbia, Canada
New Ulm, Minnesota, United States
New York, New York, United States
Rome, Italy
Cincinnati, Ohio, United States
Paris, France
Ely, Minnesota, United States
Copenhagen, Denmark
Pomona, California, United States
New York, New York, United States
DeKalb, Illinois, United States
Houston, Texas, United States
Houston, Texas, United States
Inglewood, California, United States
Los Angeles, California, United States
Los Angeles, California, United States
New York, New York, United States
Houston, Texas, United States
Rheinberg, Germany
Algermissen, Germany
New York, New York, United States
Paris, France
Bergisch Gladbach, Germany
Portland, Oregon, United States
New York, New York, United States
Kiev, Ukraine
Rochester, Michigan, United States
New York, New York, United States
Oak Ridge, Tennessee, United States
Whittier, California, United States
Croydon, England, United Kingdom
Barranquilla, Colombia
Neuburg, Germany
New York, Lenox Hill Hospital, United States
New York, New York, United States
Los Angeles, California, United States
Honolulu, Hawaii, United States
Boca Raton, Florida, United States
Liverpool, England, United Kingdom
Yemanzhelinsk, Russia
Westminster, United Kingdom
Philadelphia, Pennsylvania, United States
London, United Kingdom
Chicago, Illinois, United States
London, England, United Kingdom
Los Angeles, California, United States
Islington, London, United Kingdom
Nizhnevartovsk, Russia
Nyagan, Russia
Detroit, Michigan, United States
Paris, France
Cape Town, South Africa
Rancho Palos Verdes, California, United States
Nashua, New Hampshire, United States
Oakland, California, United States
Honolulu, Hawaii, United States
Florence, Italy
London, England, United Kingdom
Bialystok, Poland
Udine, Italy
London, England, United Kingdom
Palisades, New York, United States
Akron, Ohio, United States
Singapour, Malaysia
Vhl, Germany
New York, New York, United States
Edmonton, Alberta, Canada
Manila, Philippines
Greenwich, Connecticut, United States
Stockholm, Sweden
Munich, Germany
Boulogne-Billancourt, France
Tarzana, United States
Dublin, Ireland
Tokyo, Japan
Salem, Oregon, United States
London, England, United Kingdom
Deal, New Jersey, United States
Buenos Aires, Argentina
Danville, Illinois, United States
Houston, Texas, United States
St. Louis, Missouri, United States
Woodland Hills, Los Angeles, United States
Los Angeles, California, United States
Sofia, Bulgaria
Niagara Falls, Ontario, Canada
Toledo, Ohio, United States
Salvador, Brazil
Boston, Massachusetts, United States
Baltimore, Maryland, United States
Brisbane, Queensland, Australia
Brisbane, Queensland, Australia
Fukuoka, Japan
Chihuahua, Mexico
Joliet, Illinois, United States
Nizhny Novgorod, Russia
Ottawa, Illinois, United States
Havana, Cuba
Torino, Italy
Maracay, Venezuela
Hygo Prefecture, Japan
Toronto, Ontario, Canada
Kiryat Ata, Israel
New Canaan, Connecticut, United States
Montreal, Qubec, Canada
New York, New York, United States
Littleborough, United Kingdom
New London, Connecticut, United States
Perth, Western Australia, Australia
Iai, Romania
Cedar Grove, United States
London, England, United Kingdom
Beverley, United Kingdom
London, England, United Kingdom
Perth, Australia
Nashville, United States
Taunton, England, United Kingdom
Gary, Indiana, United States
Gonzales, Texas, United States
Gassin, France
Helsingborg, Sweden
Auckland, Auckland, New Zealand
Beirut, Lebanon
Toluca, Estado de Mexico, Mexico
Harrisonville, United States
Los Angeles, California, United States
Boise, Idaho, United States
Bristol, United Kingdom
Montreal, Qubec, Canada
Beirut, Lebanon
Miami, Florida, United States
Oldham, Greater Manchester, United Kingdom
Chungbuk, South Korea
Hamburg, Germany
Warrington, England, United Kingdom
Bucharest, Romania
Temecula, California, United States
Los Angeles, California, United States
Phoenix, Arizona, United States
Trgstad, Norway
Ascot, Berkshire, United Kingdom
Miami, Florida, United States
Itabira, Brazil
Iai, Romania
Bom Retiro do Sul, Brazil
Curitiba, Brazil
Wickford, United Kingdom
New York, New York, United States
Tehran, Iran
Tokyo, Japan
Akashi, Japan
Belgrade, Serbia
Rybnik, Poland
Czstochowa, Poland
Ichinoseki, Japan
Los Angeles, California, United States
Blorusko, Belarus
Almaty, Kazakhstan
Rostov-on-Don, Russia
Tampa, Florida, United States
Phoenix, Arizona, United States
Los Gatos, California, United States
Daugavpils, Latvia
Vysoina, China
Islington, London, United Kingdom
Suffern, New York, United States
Stockholm, Sweden
Grand Prairie, Texas, United States
Osaka, Japan
New York, New York, United States
Tacoma, Washington, United States
Los Angeles, California, United States
Ventura County, United States
Oakland, California, United States
Arkansas City, Arkansas, United States
Ambilly, France
Pelotas, Brazil
Pelotas, Brazil
Papeete, French Polynesia
Portsmouth, Virginia, United States
So Paulo, Brazil
So Paulo, Brazil
Laguna Beach, California, United States
Mol, Belgium, Belgium
New York, New York, United States
So Paulo, Brazil
Birmingham, Alabama, United States
London, England, United Kingdom
London, England, United Kingdom
New York, New York, United States
Thatcher, Arizona, United States
Colorado Springs, Colorado, United States
Amsterdam, Netherlands
San Diego, California, United States
New Orleans, Louisiana, United States
New York, New York, United States
Eskilstuna, Sweden
Charleville-Mzires, France
Los Angeles, California, United States
Namur, Belgium
Bessines, France
Long Beach, California, United States
Tiraspol, Moldova
Washington, District of Columbia, United States
Akkrum, Netherlands
Moscow, Russia
Paris, France
New York, New York, United States
Reno, Nevada, United States
New York, New York, United States
Amsterdam, Netherlands
Houston, Texas, United States
Mission Viejo, California, United States
Stowe, Vermont, United States
London, England, United Kingdom
New York, New York, United States
Johannesburg, South Africa
Springdale, Canada
Long Beach, California, United States
Topanga Canyon, United States
d, Poland
St. John's, Canada
Providence, Rhode Island, United States
Greenwich, Connecticut, United States
Houston, Texas, United States
Brest, France
Cherry Hill, New Jersey, United States
Ventura, California, United States
Peterborough, Ontario, Canada
Utrecht, Netherlands
Cancn, Mexico
Omaha, Nebraska, United States
Dallas, Texas, United States
Kochi, Japan
Neuilly-sur-Seine, France
Eilenburg, Germany
Bogot, Colombia
Elizabethtown, United States
Indianapolis, Indiana, United States
Honolulu, Hawaii, United States
Las Vegas, Nevada, United States
Jva, Indonesia
Rio de Janeiro, Brazil
Sydney, New South Wales, Australia
Cleveland, United States
Kent, Rochester, United Kingdom
Ghent, New York, United States
Long Beach, California, United States
New York, New York, United States
Guajira, Venezuela
Cliffwood Beach, United States
Dana Point, California, United States
San Diego, California, United States
Edgware, Londres, United Kingdom
Groburgwedel, Germany
Great Yarmouth, Norfolk, United Kingdom
Seattle, Washington, United States
Oshawa, Ontario, Canada
Houston, Texas, United States
Long Island, New York, United States
London, England, United Kingdom
Pasco, United States
Gdask, Poland
New York, New York, United States
Paris, France
Chicago, Illinois, United States
Tampere, Finland
Galveston, Texas, United States
Washington, District of Columbia, United States
Tsuchiura, Japan
Velk Britnie, United Kingdom
Paris, France
Melbourne, Victoria, Australia
Valladolid, Spain
New York, New York, United States
Chicago, Illinois, United States
Caracas, Venezuela
Monroe, Louisiana, United States
Brookville, United States
Lochinvar, New South Wales, Australia
Sarajevo, Bosnia and Herzegovina
Trs de Maio, Brazil
Riverside, California, United States
Stockholm, Sweden
Salt Lake City, Utah, United States
London, England, United Kingdom
Bogot, Colombia
Messina, Italy
Conyers, Georgia, United States
Lige, Belgium
Breaux Bridge, Louisiana, United States
New York, New York, United States
Santa Barbara, California, United States
Placerville, United States
Gary, Indiana, United States
Santa Barbara, California, United States
New York, New York, United States
London, England, United Kingdom
Busan, South Korea
Thiruvananthapuram, Kerala, India
Borneo, Indonesia
Daegu, South Korea
Shreveport, Louisiana, United States
Caracas, Venezuela
Bismarck, United States
Corpus Christi, Texas, United States
Warsaw, Poland
Cincinnati, Ohio, United States
Duluth, Minnesota, United States
Caracas, Venezuela
Metairie, Louisiana, United States
Vancouver, British Columbia, Canada
Hazard, United States
Duluth, Minnesota, United States
Nagoya, Japan
Pont-Audemer, France
Camarillo, California, United States
Mumbai, India
Mexia, Texas, United States
Columbus, Ohio, United States
Chesley, Canada
Vancouver, British Columbia, Canada
Phoenix, Arizona, United States
Fort Saskatchewan, Canada
Vancouver, British Columbia, Canada
Miami, Florida, United States
Tokyo, Japan
Yeosu-si, South Korea
Sept-Iles, Quebec, Canada
Anderson, United States
New York, New York, United States
Midwest City, Oklahoma, United States
Honolulu, Hawaii, United States
Udine, Italy
Chicago, Illinois, United States
Launceston, Tasmania, Australia
Jamshedpur, India
Caracas, Venezuela
Kbul, Afghanistan
Rohtak, India
Donalda, Canada
Whittier, California, United States
Montreal, Qubec, Canada
Fukuoka, Japan
Chicago, Illinois, United States
Long Beach, United States
San Francisco, California, United States
Providence, Rhode Island, United States
Montevideo, Uruguay
Los Angeles, California, United States
Murray, Kentucky, United States
Canberra, Australian Capital Territory, Australia
Gwangju, South Korea
Rome, Italy
Kentucky, United States
Los Angeles, California, United States
Dallas, Texas, United States
Iowa City, Iowa, United States
Menlo Park, California, United States
Joliet, United States
Hartford, Connecticut, United States
Mount Isa, Australia
Hanover, United States
Atlanta, Georgia, United States
London, England, United Kingdom
Dobbs Ferry, New York, United States
Dobbs Ferry, New York, United States
San Francisco, California, United States
Vancouver, British Columbia, Canada
London, England, United Kingdom
Los Angeles, California, United States
Mount Vernon, New York, United States
Lansing, Michigan, United States
Skelleftea, Sweden
Chartres, France
Los Angeles, California, United States
Manila, Philippines
Liberia, Costa Rica
Denver, Colorado, United States
Saskatchewan, Manitoba, Canada
San Diego, California, United States
Astoria, Oregon, United States
Tillamook, United States
San Diego, California, United States
Austrlie, Australia
Oklahoma City, Oklahoma, United States
Sydney, New South Wales, Australia
Geldern am Niederrhein, Germany
San Francisco, California, United States
Breda, Netherlands
Iai, Romania
San Francisco de Macoris, Dominican Republic
Paris, France
Copenhagen, Denmark
Harderwijk, Netherlands
Chicago, Illinois, United States
Los Angeles, California, United States
Perth, Australia
Pampanga, Philippines
Stockholm, Sweden
Edmonton, Alberta, Canada
Jacksonville, Florida, United States
Melbourne, Victoria, Australia
Torquay, England, United Kingdom
Zama, Japan
Asuncion, Paraguay
Columbia, South Carolina, United States
Boston, Massachusetts, United States
Fountain Valley, California, United States
Mumbai, India
Vitry-sur-Seine, France
Los Angeles, United States
Marseille, France
Concord, California, United States
Hioki, Japan
Carmichael, California, United States
Winston-Salem, United States
San Diego, California, United States
New York, New York, United States
Manhattan Beach, California, United States
Berlin, Germany
Chandigarh, India
West Hollywood, California, United States
Luverne, United States
Valencia, United States
Lafayette, United States
Nogarole Rocca, Italy
Auckland, Auckland, New Zealand
Vancouver, British Columbia, Canada
Berkeley, California, United States
Coquille, United States
Santa Monica, California, United States
Kiskunmajsa, Hungary
Oklahoma City, Oklahoma, United States
Memphis, Tennessee, United States
Florida City, Florida, United States
Los Angeles, California, United States
Fort Worth, Texas, United States
Los Angeles, California, United States
Berlin, Germany
Rome, Italy
Wheaton, Illinois, United States
Minneapolis, Minnesota, United States
Honolulu, Hawaii, United States
Guadalajara, Mexico
Vero Beach, United States
Billings, Montana, United States
Addis Abeba, Ethiopia
Calera, Mexico
Moscow, Russia
Michigan, Indiana, United States
Sydney, New South Wales, Australia
Inverness, Scotland, United Kingdom
George Town, Grand Cayman, United Kingdom
Johannesburg, South Africa
Plymouth, United Kingdom
Long Beach, California, United States
Kanagawa Ward, Japan
Toronto, Ontario, Canada
Naha, Japan
Kettering, Ohio, United States
Durban, South Africa
Mogadiu, Somalia
Rosh Ha'ayin, Israel
New York, New York, United States
Kumamoto, Japan
Oakland, California, United States
Geneva, Switzerland
Nashville, Tennessee, United States
Sheffield, England, United Kingdom
Lugano, Switzerland
Istanbul, Turkey
Los Angeles, California, United States
Barcelona, Spain
London, England, United Kingdom
Saga, Japan
Buenos Aires, Argentina
Cartagena, Colombia
Mexico City, Mexico
Madrid, Spain
Hamburg, Germany
Haifa, Israel
Neptune, New Jersey, United States
Kigali, Rwanda
Louxor, Egypt
New York, New York, United States
Erexim, Brazil
Oostermeer, Netherlands
Santa Cruz, California, United States
San Diego, United States
Ankara, Turkey
Minneapolis, Minnesota, United States
Anagni, Italy
Los Angeles, California, United States
London, England, United Kingdom
Vallejo, California, United States
Columbus, Ohio, United States
London, England, United Kingdom
Tokyo, Japan
St Croix, U.S. Virgin Islands
Mooi River, KwaZulu-Natal, South Africa
Rosario, Argentina
Copenhagen, Denmark
Loma Linda, United States
San Diego, California, United States
Kincardine, Canada
Sutton Coldfield, Birmingham, United Kingdom
London, England, United Kingdom
Nizhni Novgorod, Russia
Havana, Cuba
St. Joseph, United States
Croydon, England, United Kingdom
Aarhus, Denmark
Dallas, Texas, United States
Florida City, Florida, United States
Los Angeles, California, United States
Seoul, South Korea
Huntington Beach, California, United States
Honolulu, Hawaii, United States
Monaghan, Ireland
Melbourne, Victoria, Australia
Ukrajina, Ukraine
New Jersey, New Jersey, United States
Paris, France
Philadelphia, Pennsylvania, United States
Kassel, Germany
Leipzig, Germany
New York, New York, United States
Upland, California, United States
Havana, Cuba
San Diego, California, United States
Naha, Japan
Germantown, Tennessee, United States
Guam, United States
Pomona, California, United States
San Antonio, Texas, United States
Maracaibo, Venezuela
Tarzana, United States
Chennai, India
Burkburnett, Texas, United States
Portland, United States
Statesboro, Georgia, United States
Brisbane, Queensland, Australia
Jackson, Iowa, United States
St. Louis, Missouri, United States
Hong Kong, Hong Kong
Frankfurt nad Mohanem, Germany
La Paz, Bolivia
Namyangju-si, South Korea
Los Angeles, California, United States
Delta, United States
Chennai, India
San Francisco, California, United States
Seoul, South Korea
Chapel Hill, North Carolina, United States
Bolton, England, United Kingdom
Singapur, Singapore
Los Angeles, California, United States
Cape Town, South Africa
Chevy Chase, United States
Hamm, Germany
New York, New York, United States
Lahti, Finland
Rosario, Argentina
La Plata, Argentina
Barranquilla, Colombia
New York, New York, United States
Manila, Philippines
Monroe, United States
Memphis, Tennessee, United States
Bristol, England, United Kingdom
Clearwater, Florida, United States
St. Louis, Missouri, United States
Conakry, Guinea
Los Angeles, United States
Lima, Peru
Devon, United Kingdom
Oxford, United Kingdom
Detroit, Michigan, United States
London, England, United Kingdom
Saint Catharines, Ontario, Canada
Rouen, France
Los Angeles, California, United States
Gaalkayo, Somalia
Los Angeles, California, United States
Galveston, United States
Hamburg, Germany
Easton, United States
Rome, Italy
Cambridge, Massachusetts, United States
Beaufort, United States
La Paz, Bolivia
San Diego, California, United States
Stockholm, Sweden
Walnut Creek, California, United States
Buffalo, United States
London, England, United Kingdom
Gilbertsville, United States
Mexico City, Mexico
Vlaardingen, Netherlands
Cartagena, Colombia
Barking, England, United Kingdom
Swindon, England, United Kingdom
Chelmsford, Essex, United Kingdom
Berlin, Germany
Montreal, Qubec, Canada
Guadalajara, Mexico
Welwyn Garden City, United Kingdom
Warava, Poland
Holstebro, Denmark
Buenos Aires, Argentina
Buenos Aires, Argentina
Albertville, United States
Lecce, Italy
Gijn, Spain
Stellenbosch, South Africa
Matane, Canada
Trento, Italy
Leeds, England, United Kingdom
Madrid, Spain
Mayagez, United States
Londrina, Brazil
Kent, United Kingdom
Rostock, Germany
Santa Clara, California, United States
Rivers Falls, United States
Binghamton, New York, United States
Caracas, Venezuela
Missouri, Missouri, United States
Crdoba, Argentina
Rochester, New York, United States
Treviso, Italy
Buenos Aires, Argentina
Panama City, United States
Ruskington, Lincolnshire, United Kingdom
Ciudad Jurez, Mexico
Minnesota, United States
Buenos Aires, Argentina
Gainesville, Florida, United States
Birmingham, United Kingdom
New York, New York, United States
Ayr, Scotland, United Kingdom
Solleftea, Sweden
Andorra, Spain
Buenos Aires, Argentina
Benavente, Zamora, Spain
Melbourne, Victoria, Australia
Alicante, Spain
Tokyo, Japan
Tribu Dinka Sud, Sudan
Caracas, Venezuela
Monza, Italy
Krakov, Poland
Canberra, Australian Capital Territory, Australia
Acaponeta, Mexico
Long Beach, California, United States
Los Angeles, California, United States
Mamaroneck, New York, United States
Barcelona, Spain
Hermosillo, Sonora, Mexico
Springdale, United States
Panama, Panama
General Acha, Argentina
Stone, England, United Kingdom
Ventura, California, United States
Breda, Netherlands
Aljaka, United States
Passo Fundo, Rio Grande do Sul, Brazil
Split, Croatia
Gdynia, Poland
Brighton, England, United Kingdom
Mumbai, India
Valletta, Malta
Pontiac, Illinois, United States
Medellin, Colombia
Sassari, Italy
Tallinn, Estonia
London, England, United Kingdom
Milwaukee, Wisconsin, United States
Hendersonville, United States
Brentwood, Essex, United Kingdom
Gdynia, Poland
Lima, Peru
Chilliwack, Colombia
Price, United States
Los Angeles, United States
Los Angeles, California, United States
Kharkiv, Ukraine
Florida City, Florida, United States
Paris, France
Sainte-Anne-de-la-Pocatire, Canada
Litva, Lithuania
Stockholm, Sweden
Palatka, United States
Tel Aviv-Yafo, Israel
Ho Chi Minh City, Vietnam
New Hope, United States
Jacksonville, Florida, United States
Turin, Italy
Bowling Green, United States
Caracas, Venezuela
Yeosu-si, South Korea
Natal, Rio Grande do Norte, Brazil
Seattle, Washington, United States
Buenos Aires, Argentina
Duisburg, Germany
Mrida, Mexico
Nizhnevartovsk, Russia
Norwich, United Kingdom
Madrid, Spain
Newcastle, United Kingdom
Santa Cruz, Brazil
Los Angeles, California, United States
New York, New York, United States
Zielona Gra, Poland
Rio de Janeiro, Brazil
Frankfurt, Germany
Yeosu-si, South Korea
Muroran, Hokkaid, Japan
Beaver Falls, United States
Mexico City, Mexico
London, United Kingdom
Piikkiss, Finland
Kazan, Russia

San Francisco, California, United States
Miami, Florida, United States
Jackson, Iowa, United States
Los Angeles, California, United States
Bahia, Brazil
New York, New York, United States
Chtillon-sur-Seine, France
Moscow, Russia
Inglewood, California, United States
Hanover, New Hampshire, United States
Santa Rosa, Brazil
Long Branch, New Jersey, United States
Porto, Portugal
Ruskington, England, United Kingdom
So Paulo, Brazil
Tokyo, Japan
Phoenix, Arizona, United States
L'Aquila, Italy
Malm, Sweden
Porto, Portugal
Coral Gables, Florida, United States
Berlin, Germany
Phoenix, Arizona, United States
Newport Beach, California, United States
Philadelphia, Pennsylvania, United States
Bilbao, Spain
Marikina, Philippines
Santa Maria, Philippines
Nicosia, Cyprus
Budapest, Hungary
Washington, District of Columbia, United States
Yarrawonga, Victoria, Australia
Manila, Philippines
Almelo, Netherlands
Silsbee, Texas, United States
Gainesville, Florida, United States
Taipei, Taiwan
Davao City, Philippines
Belleville, Illinois, United States
Buenos Aires, Argentina
Makati, Philippines
Manila, Philippines
New York, New York, United States
Benavente, Portugal
Ringgold, Georgia, United States
Dubaj, United Arab Emirates
Storaljajhely, Hungary
Recreo, Argentina
Perris, California, United States
Philadelphia, Pennsylvania, United States
New York, New York, United States
San Francisco, California, United States
San Francisco, California, United States
Copenhagen, Denmark
Tucson, Arizona, United States
Stockport, England, United Kingdom
Brentwood, California, United States
Sandviken, Sweden
Managua, Nicaragua
Boston, Massachusetts, United States
Boise, Idaho, United States
Los Angeles, California, United States
Cincinnati, Ohio, United States
Idaho, Ohio, United States
Miami, Florida, United States
Paris, France
Olongapo, Philippines
Pittsburgh, Pennsylvania, United States
Tokyo, Japan
Utrecht, Netherlands
Lincoln, Nebraska, United States
Washington, United States
Princeton, New Jersey, United States
Plant City, Florida, United States
Santa Clara, California, United States
Jhajjar, India

'\nfor _ in range(80):\n    print(copy_df_mod.iloc[_].info)\n    print(get_birthplace_info(_))\n    print(make_place_column(_))\n\n\nprint(copy_df_mod.iloc[32].info)\nprint(get_birthplace_info(32))\nprint(place_formatter(get_birthplace_info(32)))\nprint(copy_df_mod.iloc[33].info)\nprint(get_birthplace_info(33))\nprint(place_formatter(get_birthplace_info(33)))\n'

In [140]:
copy_df_mod.head(100)

,name,occupation,count,info,birthtime,birthplace
0,Michael_Haneke,r_philosophers,0,Gender:MaleDate of Birth:23 March 1942Birth p...,"[1942, 1, 23]","Munich, Germany"
1,Noam_Chomsky,r_philosophers,1,Gender:MaleDate of Birth:7 December 1928 - 07...,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States"
2,Albert_Camus,r_philosophers,2,Gender:MaleDate of Birth:7 November 1913 - 02...,"[1913, 1, 7, 02:00]","Mondovi, Algeria"
3,Mahatma_Gandhi,r_philosophers,3,Gender:MaleDate of Birth:2 October 1869 - 07:...,"[1869, 1, 2, 07:08]","Porbandar, India"
4,Jean-Jacques_Rousseau,r_philosophers,4,Gender:MaleDate of Birth:28 June 1712 - 10:00...,"[1712, 1, 28, 10:00]","Geneva, Switzerland"
5,Denis_Diderot,r_philosophers,5,Gender:MaleDate of Birth:5 October 1713 - 17:...,"[1713, 1, 5, 17:00]","Langres, France"
6,Immanuel_Kant,r_philosophers,6,Gender:MaleDate of Birth:22 April 1724 - 05:0...,"[1724, 1, 22, 05:00]","Knigsberg, Germany"
7,Johann_Gottfried_Herder,r_philosophers,7,Gender:MaleDate of Birth:25 August 1744 - 23:...,"[1744, 1, 25, 23:30]","Mohrungen, Poland"
8,Soeren_Kierkegaard,r_philosophers,8,Gender:MaleDate of Birth:5 May 1813Birth plac...,"[1813, 1, 5]","Copenhagen, Denmark"
9,Friedrich_Nietzsche,r_philosophers,9,Gender:MaleDate of Birth:15 October 1844 - 10...,"[1844, 1, 15, 10:00]","Roecken, Germany"
10,Bertrand_Russell,r_philosophers,10,Gender:MaleDate of Birth:18 May 1872 - 17:45h...,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom"
11,Philip_K._Dick,r_philosophers,11,Gender:MaleDate of Birth:16 December 1928 - 1...,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States"
12,Arthur_Schopenhauer,r_philosophers,12,Gender:MaleDate of Birth:22 February 1788 - 1...,"[1788, 1, 22, 12:00]","Gdask, Poland"
13,Karl_Marx,r_philosophers,13,Gender:MaleDate of Birth:5 May 1818 - 02:00hB...,"[1818, 1, 5, 02:00]","Trier, Germany"
14,Helena_Blavatsky,r_philosophers,14,Gender:FemaleDate of Birth:12 August 1831 - 0...,"[1831, 1, 12, 02:17]","Ekaterinoslav, Dnipro, Ukraine"
15,Ernst_Bloch,r_philosophers,15,Gender:MaleDate of Birth:8 July 1885 - 08:00h...,"[1885, 1, 8, 08:00]","Ludwigshafen, Germany"
16,George_Boole,r_philosophers,16,Gender:MaleDate of Birth:2 November 1815 - 16...,"[1815, 1, 2, 16:00]","Lincoln, England, United Kingdom"
17,Martin_Buber,r_philosophers,17,Gender:MaleDate of Birth:8 February 1878 - 06...,"[1878, 1, 8, 06:58]","Vienna, Austria"
18,Fritjof_Capra,r_philosophers,18,Gender:MaleDate of Birth:1 February 1939 - 10...,"[1939, 1, 1, 10:55]","Vienna, Austria"
19,Gilles_Deleuze,r_philosophers,19,Gender:MaleDate of Birth:18 January 1925 - 02...,"[1925, 1, 18, 02:45]","Paris, France"
20,Friedrich_Engels,r_philosophers,20,Gender:MaleDate of Birth:28 November 1820 - 2...,"[1820, 1, 28, 21:00]","Wuppertal, Germany"
21,Ludwig_Feuerbach,r_philosophers,21,Gender:MaleDate of Birth:28 July 1804 - 01:30...,"[1804, 1, 28, 01:30]","Landshut, Germany"
22,Michel_Foucault,r_philosophers,22,Gender:MaleDate of Birth:15 October 1926 - 07...,"[1926, 1, 15, 07:30]","Poitiers, France"
23,Erich_Fromm,r_philosophers,23,Gender:MaleDate of Birth:23 March 1900 - 19:3...,"[1900, 1, 23, 19:30]","Frankfurt, Germany"
24,David_Hume,r_philosophers,24,Gender:MaleDate of Birth:7 May 1711(gregor.)B...,"[1711, 1, 7]","Edinburgh, Scotland, United Kingdom"
25,Emmanuel_Lasker,r_philosophers,25,Gender:MaleDate of Birth:24 December 1868 - 1...,"[1868, 1, 24, 15:00]","Berlin, Germany"
26,Maria_Montessori,r_philosophers,26,Gender:FemaleDate of Birth:31 August 1870 - 0...,"[1870, 1, 31, 03:30]","Chiaravalle, Italy"
27,Teresa_Benedicta,r_philosophers,27,Gender:FemaleDate of Birth:12 October 1891 - ...,"[1891, 1, 12, 00:30]","Hof, Germany"
28,Rudolf_Steiner,r_philosophers,28,Gender:MaleDate of Birth:25 February 1861 - 2...,"[1861, 1, 25, 23:15]","Donji Kraljevec, Croatia"
29,Dietrich_von_Hildebrand,r_philosophers,29,Gender:MaleDate of Birth:12 October 1889 - 09...,"[1889, 1, 12, 09:00]","Florence, Italy"
...,...,...,...,...,...,...
70,Christian_Ehrenfels,r_philosophers,70,Gender:MaleDate of Birth:20 June 1859 - 17:42...,"[1859, 1, 20, 17:42]","Vienna, Austria"
71,Paul_Feyerabend,r_philosophers,71,Gender:MaleDate of Birth:13 January 1924 - 23...,"[1924, 1, 13, 23:00]","Vienna, Austria"
72,Alain_Finkielkraut,r_philosophers,72,Gender:MaleDate of Birth:30 June 1949 - 01:15...,"[1949, 1, 30, 01:15]","Paris, France"
73,Alfred_Fouille,r_philosophers,73,Gender:MaleDate of Birth:18 October 1838 - 11...,"[1838, 1, 18, 11:00]","La Pouze, France"
74,Charles_Fourier,r_philosophers,74,Gender:MaleDate of Birth:7 April 1772 - 06:00...,"[1772, 1, 7, 06:00]","Besanon, France"
75,Hans-Georg_Gadamer,r_philosophers,75,Gender:MaleDate of Birth:11 February 1900 - 0...,"[1900, 1, 11, 08:45]","Marburg, Germany"
76,Roger_Garaudy,r_philosophers,76,Gender:MaleDate of Birth:17 July 1913 - 19:00...,"[1913, 1, 17, 19:00]","Marseille, France"
77,Giovanni_Gentile,r_philosophers,77,Gender:MaleDate of Birth:29 May 1875 - 23:00h...,"[1875, 1, 29, 23:00]","Castelvetrano, Italy"
78,Etienne_Gilson,r_philosophers,78,Gender:MaleDate of Birth:13 June 1884 - 12:00...,"[1884, 1, 13, 12:00]","Paris, France"
79,Antonio_Gramsci,r_philosophers,79,Gender:MaleDate of Birth:22 January 1891 - 11...,"[1891, 1, 22, 11:00]","Ales, Italy"
80,Joseph_Gratry,r_philosophers,80,Gender:MaleDate of Birth:30 March 1805 - 22:4...,"[1805, 1, 30, 22:45]","Lille, France"
81,Romano_Guardini,r_philosophers,81,Gender:MaleDate of Birth:17 February 1885 - 0...,"[1885, 1, 17, 01:30]","Verona, Italy"
82,Jean_Guitton,r_philosophers,82,Gender:MaleDate of Birth:18 August 1901 - 15:...,"[1901, 1, 18, 15:00]","Saint-tienne, France"
83,Jean-Marie_Guyau,r_philosophers,83,Gender:MaleDate of Birth:28 October 1854 - 17...,"[1854, 1, 28, 17:00]","Laval, France"
84,Abimael_Guzman,r_philosophers,84,Gender:MaleDate of Birth:3 December 1934 - 14...,"[1934, 1, 3, 14:00]","Mollendo, Peru"
85,Jrgen_Habermas,r_philosophers,85,Gender:MaleDate of Birth:18 June 1929 - 20:00...,"[1929, 1, 18, 20:00]","Dsseldorf, Germany"
86,Martin_Heidegger,r_philosophers,86,Gender:MaleDate of Birth:26 September 1889 - ...,"[1889, 1, 26, 11:30]","Messkirch, Germany"
87,Ernest_Hello,r_philosophers,87,Gender:MaleDate of Birth:5 November 1828 - 00...,"[1828, 1, 5, 00:26]","Lorient, France"
88,Max_Horkheimer,r_philosophers,88,Gender:MaleDate of Birth:14 February 1895 - 1...,"[1895, 1, 14, 12:30]","Stuttgart, Germany"
89,Karl_Jaspers,r_philosophers,89,Gender:MaleDate of Birth:23 February 1883 - 1...,"[1883, 1, 23, 14:30]","Oldenburg, Germany"
90,Jean_Jaurs,r_philosophers,90,Gender:MaleDate of Birth:3 September 1859 - 1...,"[1859, 1, 3, 12:00]","Castres, France"
91,Hermann_Von_Keyserling,r_philosophers,91,Gender:MaleDate of Birth:20 July 1880 - 21:55...,"[1880, 1, 20, 21:55]","Knnu, Plva County, Estonia"
92,S._Albert_Kivinen,r_philosophers,92,Gender:MaleDate of Birth:10 October 1933 - 23...,"[1933, 1, 10, 23:15]","Ikaalinen, Finland"
93,Saul_Kripke,r_philosophers,93,Gender:MaleDate of Birth:13 November 1940 - 1...,"[1940, 1, 13, 18:36]","Bay Shore, New York, United States"
94,Jiddu_Krishnamurti,r_philosophers,94,Gender:MaleDate of Birth:12 May 1895 - 00:30h...,"[1895, 1, 12, 00:30]","Madanapalle, India"
95,Pierre_Laffitte,r_philosophers,95,Gender:MaleDate of Birth:21 February 1823 - 1...,"[1823, 1, 21, 14:00]","Bguey, France"
96,Louis_Lavelle,r_philosophers,96,Gender:MaleDate of Birth:15 July 1883 - 10:00...,"[1883, 1, 15, 10:00]","Saint-Martin-de-Villeral, France"
97,Theodor_Lessing,r_philosophers,97,Gender:MaleDate of Birth:8 February 1872 - 09...,"[1872, 1, 8, 09:42]","Hanover, Germany"
98,mile_Littr,r_philosophers,98,Gender:MaleDate of Birth:1 February 1801 - 10...,"[1801, 1, 1, 10:00]","Paris, France"
99,Jean-Franois_Lyotard,r_philosophers,99,Gender:MaleDate of Birth:10 August 1924 - 00:...,"[1924, 1, 10, 00:15]","Versailles, France"

In [12]:
strngstrng = '''
['1975', 1, '27', '16:35']
['1966', 1, '8', '18:05']
['1912', 1, '15', '23:30']
['1968', 1, '25']
['1904', 1, '7', '01:21']
['1962', 1, '26', '00:25']
['1956', 1, '13', '15:00']
['1846', 1, '28', '10:00']
['1959', 1, '15', '07:40']
['1964', 1, '13', '05:30']
['1964', 1, '13', '06:00']
['1956', 1, '25']
['1964', 1, '10']
['1935', 1, '18']
['1906', 1, '17']
['1949', 1, '8']
['1960', 1, '22']
['1975', 1, '29']
['1785', 1, '31']
['1967', 1, '7']
['1952', 1, '3']
['1975', 1, '9']
['1947', 1, '21']
['1960', 1, '19']
['1903', 1, '5']
['1968', 1, '14']
['1962', 1, '30']
['1969', 1, '21']
['1984', 1, '7']
['1977', 1, '5']
['1923', 1, '6']
['1971', 1, '19']
['1967', 1, '3']
['1968', 1, '1']
['1970', 1, '22']
['1947', 1, '19']
['1966', 1, '19']
['1975', 1, '13']
['1960', 1, '29']
['1943', 1, '5']
['1966', 1, '12']
['1968', 1, '22']
['1971', 1, '3']
['1931', 1, '29']
['1956', 1, '21']
['1948', 1, '2']
['1974', 1, '17']
['1975', 1, '5']
['1909', 1, '23']
['1965', 1, '10']
['1965', 1, '14']
['1966', 1, '3']
['1978', 1, '18']
['1955', 1, '2']
['1966', 1, '23']
['1988', 1, '1']
['1962', 1, '30']
['1952', 1, '19']
['1964', 1, '20']
['1973', 1, '6']
['1904', 1, '17']
['1945', 1, '23']
['1980', 1, '8']
['1940', 1, '20']
['1921', 1, '10']
['1953', 1, '11']
['1970', 1, '25']
['1976', 1, '12']
['1971', 1, '26']
['1977', 1, '26']
['1949', 1, '24']
['1939', 1, '22']
['1984', 1, '19']
['1958', 1, '1']
['1918', 1, '31']
['1969', 1, '19']
['1988', 1, '26']
'''
counttemptemp = 0
for e in strngstrng:
    if e == '\n':
        counttemptemp += 1
print(counttemptemp)

78

In [141]:
best_df_ever = copy_df_mod.drop(['info'], axis=1)

In [142]:
best_df_ever.head(15)

,name,occupation,count,birthtime,birthplace
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany"
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States"
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria"
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India"
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland"
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France"
6,Immanuel_Kant,r_philosophers,6,"[1724, 1, 22, 05:00]","Knigsberg, Germany"
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland"
8,Soeren_Kierkegaard,r_philosophers,8,"[1813, 1, 5]","Copenhagen, Denmark"
9,Friedrich_Nietzsche,r_philosophers,9,"[1844, 1, 15, 10:00]","Roecken, Germany"
10,Bertrand_Russell,r_philosophers,10,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom"
11,Philip_K._Dick,r_philosophers,11,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States"
12,Arthur_Schopenhauer,r_philosophers,12,"[1788, 1, 22, 12:00]","Gdask, Poland"
13,Karl_Marx,r_philosophers,13,"[1818, 1, 5, 02:00]","Trier, Germany"
14,Helena_Blavatsky,r_philosophers,14,"[1831, 1, 12, 02:17]","Ekaterinoslav, Dnipro, Ukraine"

In [183]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
best_df_ever['location'] = best_df_ever['birthplace'].apply(geocode)
best_df_ever['point'] = best_df_ever['location'].apply(lambda loc: tuple(loc.point) if loc else None)

RateLimiter caught an error, retrying (0/2 tries). Called with (*('France',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Marburg, Germany',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Ales, Italy',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Knnu, Plva County, Estonia',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Paris, France',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Bayreuth, Germany',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

RateLimiter caught an error, retrying (0/2 tries). Called with (*('Prague, Czech Republic',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out
RateLimiter caught an error, retrying (0/2 tries). Called with (*('Wisbech, England, United Kingdom',), **{}).
Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1317, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/anaconda3/lib/python3.7/http/client.py", line 1229, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1275, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1224, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/anaconda3/lib/python3.7/http/client.py", line 1016, in _send_output
    self.send(msg)
  File "/anaconda3/lib/python3.7/http/client.py", line 956, in send
    self.connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 1384, in connect
    super().connect()
  File "/anaconda3/lib/python3.7/http/client.py", line 928, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/anaconda3/lib/python3.7/socket.py", line 727, in create_connection
    raise err
  File "/anaconda3/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
socket.timeout: timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 355, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1360, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/anaconda3/lib/python3.7/urllib/request.py", line 1319, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error timed out>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/anaconda3/lib/python3.7/site-packages/geopy/extra/rate_limiter.py", line 126, in __call__
    return self.func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/osm.py", line 406, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/anaconda3/lib/python3.7/site-packages/geopy/geocoders/base.py", line 378, in _call_geocoder
    raise GeocoderTimedOut('Service timed out')
geopy.exc.GeocoderTimedOut: Service timed out

In [184]:
best_df_ever.tail(25)

,name,occupation,count,birthtime,birthplace,location,point
188,Nicholas_Roerich,r_philosophers,188,"[1874, 1, 9]","Saint Petersburg, Russia","(-, - ...","(59.9606739, 30.1586551, 0.0)"
189,Michele_Federico_Sciacca,r_philosophers,189,"[1908, 1, 12, 20:30]","Giarre, Italy","(Giarre, Catania, Sicilia, 95014, Italia, (37....","(37.726857, 15.187688, 0.0)"
190,Junpero_Serra,r_philosophers,190,"[1713, 1, 24, 01:00]","Majorca, Spain","(Mallorca, Sencelles, Pla de Mallorca, Illes B...","(39.6134018, 2.8804305326400756, 0.0)"
191,Paul_Tillich,r_philosophers,191,"[1886, 1, 20, 00:30]","Starosiedle, Poland","(Starosiedle, gmina Gubin, powiat kronieski,...","(51.8581096, 14.820994, 0.0)"
192,Johannes_Vaihinger,r_philosophers,192,"[1852, 1, 25, 16:30]","hringen, Germany",None,None
193,Theobold_Ziegler,r_philosophers,193,"[1846, 1, 9, 17:45]","Gppingen, Germany",None,None
194,Ryszard_Antoni_Legutko,r_philosophers,194,"[1949, 1, 24]","Krakw, Poland",None,None
195,Miloslav_Ransdorf,r_philosophers,195,"[1953, 1, 15]","Rakovnk, Czech Republic",None,None
196,Karel_Josef_Bene,r_philosophers,196,"[1896, 1, 21]","Prague, Czech Republic","(Praha, okres Hlavn msto Praha, Hlavn msto...","(50.0874654, 14.4212535, 0.0)"
197,Karel_Bodlk,r_philosophers,197,"[1903, 1, 3]","Sobslav, Czech Republic",None,None
198,Otokar_Fischer,r_philosophers,198,"[1883, 1, 20]","Koln, Czech Republic",None,None
199,William_Godwin,r_philosophers,199,"[1756, 1, 3]","Wisbech, England, United Kingdom","(Wisbech, Cambridgeshire, East of England, Eng...","(52.6651733, 0.1606824, 0.0)"
200,Jakub_Hron_Metnovsk,r_philosophers,200,"[1840, 1, 4]","Metnov, Czech Republic",None,None
201,Jan_Patoka,r_philosophers,201,"[1907, 1, 1]","Turnov, Czech Republic","(Turnov, okres Semily, Libereck kraj, Severov...","(50.5872282, 15.150259702715726, 0.0)"
202,Karel_Sabina,r_philosophers,202,"[1813, 1, 29]","Prague, Czech Republic","(Praha, okres Hlavn msto Praha, Hlavn msto...","(50.0874654, 14.4212535, 0.0)"
203,Emil_Sedmk,r_philosophers,203,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
204,Josef_afak,r_philosophers,204,"[1907, 1, 11]","Prostjov, Czech Republic",None,None
205,Milan_imeka,r_philosophers,205,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
206,Stanislav_Komrek,r_philosophers,206,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
207,Paco_Vidarte,r_philosophers,207,"[1970, 1, 1]","Seville, Spain","(Sevilla, Andaluca, Espaa, (37.3886303, -5.9...","(37.3886303, -5.9953403, 0.0)"
208,Ernst_Tugendhat,r_philosophers,208,None,None,"(None, Torino, Piemonte, Italia, (44.933143, 7...","(44.933143, 7.540121, 0.0)"
209,Erazim_Kohk,r_philosophers,209,"[1933, 1, 21]","Prague, Czech Republic","(Praha, okres Hlavn msto Praha, Hlavn msto...","(50.0874654, 14.4212535, 0.0)"
210,Ladislav_Menzel,r_philosophers,210,"[1929, 1, 13]","Prague, Czech Republic","(Praha, okres Hlavn msto Praha, Hlavn msto...","(50.0874654, 14.4212535, 0.0)"
211,Edmund_Husserl,r_philosophers,211,"[1859, 1, 8]","Prostjov, Czech Republic",None,None
212,Kurt_Gdel,r_philosophers,212,"[1906, 1, 28]","Brno, Czech Republic","(Brno, okres Brno-msto, Jihomoravsk kraj, Ji...","(49.1922443, 16.6113382, 0.0)"

This seems to work. We will perform this process on every occupation dataframe that we have.

But before we run a for loop on all our dataframes, let's continue with this specific data frame.

Let's feed our dataframe into FlatLib, get some results, analyze the results, and add these results to our dataframe as a set of columns.

I'm gonna use an np.array.

Ehhh... let's just stick to Pandas, it'll be just as direct.

In [185]:
#OLD CODE

'''
date = Datetime('1997/07/02', '16:07', '-07:00')
#date.jd
print(date.jd)

pos = GeoPos('37n7644', '121w9540')
print(pos.lat,pos.lon)

chart = Chart(date, pos)
'''
print('hi')

hi

In [186]:
jackson_df = pd.DataFrame([['Jackson_Stenger','r_philosopher',0,[1997, 7, 2],'San Ramon, California, United States']], columns = ['name', 'occupation', 'count', 'birthtime', 'birthplace'])

In [187]:
jackson_df.head()

,name,occupation,count,birthtime,birthplace
0,Jackson_Stenger,r_philosopher,0,"[1997, 7, 2]","San Ramon, California, United States"

In [188]:
geolocator1 = Nominatim(user_agent="specify_your_app_name_here")
geocode1 = RateLimiter(geolocator1.geocode, min_delay_seconds=1)
jackson_df['location'] = jackson_df['birthplace'].apply(geocode1)
jackson_df['point'] = jackson_df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

In [189]:
jackson_df

,name,occupation,count,birthtime,birthplace,location,point
0,Jackson_Stenger,r_philosopher,0,"[1997, 7, 2]","San Ramon, California, United States","(San Ramon, Contra Costa County, California, U...","(37.7799273, -121.9780153, 0.0)"

In [190]:
df_var = best_df_ever
#df_var = jackson_df

def point_formatter(row):
    p = df_var.iloc[row].point
    if p == None:
        return None
    p_ns = p[0]
    p_ew = p[1]
    if p_ns > 0:
        p_ns_mod = str(round(p_ns, 4)).replace('.', 'n')
    else:
        p_ns_mod = str(round(-p_ns, 4)).replace('.', 's')
    if p_ew > 0:
        p_ew_mod = str(round(p_ew, 4)).replace('.', 'e')
    else:
        p_ew_mod = str(round(-p_ew, 4)).replace('.', 'w')
    return (p_ns_mod,p_ew_mod)

In [191]:
point_formatter(0)

('48n1371', '11e5754')

In [192]:
best_df_everer = best_df_ever
best_df_everer['point'] = best_df_ever['count'].apply(point_formatter)

In [193]:
best_df_everer.head(8)

,name,occupation,count,birthtime,birthplace,location,point
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany","(Mnchen, Bayern, Deutschland, (48.1371079, 11...","(48n1371, 11e5754)"
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)"
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Dara Drean, El Tarf , , ...","(36n6851, 7e7471)"
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)"
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland","(Genve, Switzerland, (46.2017559, 6.1466014))","(46n2018, 6e1466)"
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France","(Langres, Haute-Marne, Grand Est, France mtro...","(47n8656, 5e3314)"
6,Immanuel_Kant,r_philosophers,6,"[1724, 1, 22, 05:00]","Knigsberg, Germany",None,None
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland","(Morg, gmina Morg, powiat ostrdzki, wojewd...","(53n912, 19e928)"

In [222]:
#Method which returns the time offset for a particular timezone.

def get_offset(lat, lng):
    """
    returns a location's time zone offset from UTC in minutes.
    """
    tf = TimezoneFinder()

    today = datetime.now()
    tz_target = timezone(tf.certain_timezone_at(lng=lng, lat=lat))
    today_target = tz_target.localize(today)
    today_utc = utc.localize(today)
    val = (today_utc - today_target).total_seconds()/60
    hr = int(val // 60)
    hr = str(hr).zfill(2)
    mn = int(val - 60 * int(hr))
    mn = str(mn).zfill(2)
    ans = hr + ':' + mn
    return ans


#bergamo = {'lat': 45.69, 'lng': 9.67}
#minute_offset = get_offset(**bergamo)
#print(minute_offset)

In [223]:
print(get_offset(45.69,9.67))

02:00

In [333]:
var_df = best_df_everer
#var_df = jackson_df
##get_offset(lat, lng)
def date_formatter(row):
    old_date = var_df.iloc[row].birthtime
    
    year = str(old_date[0]).zfill(4)
    month = str(old_date[1]).zfill(2)
    day = str(old_date[2]).zfill(2)
    new_date = str(year) + '/' + str(month) + '/' + str(day)
    
    location = var_df.iloc[row].point
    lat = location[0]
    lng = location[1]
    if 'n' in lat:
        lat = lat.replace('n', '.')
    if 's' in lat:
        lat = '-' + (lat.replace('s', '.'))
    if 'e' in lng:
        lng = lng.replace('e', '.')
    if 'w' in lng:
        lng = '-' + (lng.replace('w', '.'))
    offset = get_offset(float(lat), float(lng))
    
    if len(old_date) == 4:
        time = str(old_date[3])
        ans = Datetime(new_date, time, offset)
    else:
        ans = Datetime(new_date, offset)
    return ans

In [334]:
date_formatter(0)

In [338]:
var_df = best_df_everer
#var_df = jackson_df

def chart_creator(row):
    if df_var.iloc[row].point == None or df_var.iloc[row].location == None or df_var.iloc[row].birthplace == None or df_var.iloc[row].birthtime == None:
        return None
    d = date_formatter(row)
    #^Remember to use the same df here.
    l = df_var.iloc[row].point
    pos = GeoPos(l[0], l[1])
    try:
        chart = Chart(d, pos)
        return chart
    except:
        None

In [340]:
#chart_creator(1)
#chart_creator(4).get(const.MOON)
chart_creator(0)

It works!!!

Now I'm gonna add a column filled with birthcharts (as objects).

In [341]:
best_df_everer['chart'] = best_df_ever['count'].apply(chart_creator)

In [342]:
best_df_everer.head()

,name,occupation,count,birthtime,birthplace,location,point,chart
0,Michael_Haneke,r_philosophers,0,"[1942, 1, 23]","Munich, Germany","(Mnchen, Bayern, Deutschland, (48.1371079, 11...","(48n1371, 11e5754)",None
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)",<flatlib.chart.Chart object at 0x617e648d0>
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Dara Drean, El Tarf , , ...","(36n6851, 7e7471)",<flatlib.chart.Chart object at 0x617e7d6a0>
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)",<flatlib.chart.Chart object at 0x617f0a518>
4,Jean-Jacques_Rousseau,r_philosophers,4,"[1712, 1, 28, 10:00]","Geneva, Switzerland","(Genve, Switzerland, (46.2017559, 6.1466014))","(46n2018, 6e1466)",None

I need to figure out how many 'None' charts I have.

In [345]:
#best_df_everer.info(verbose=True)
best_df_everer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 8 columns):
name          213 non-null object
occupation    213 non-null object
count         213 non-null int64
birthtime     205 non-null object
birthplace    205 non-null object
location      183 non-null object
point         183 non-null object
chart         136 non-null object
dtypes: int64(1), object(7)
memory usage: 13.4+ KB

I'm thinking at this point I should get rid of any rows that have no chart.

In [346]:
best_df_everest = best_df_everer

In [347]:
# df[df['column name'].map(lambda x: str(x)!=".")]
best_df_everest = best_df_everest[best_df_everest['chart'].map(lambda x: x!=None)]

In [349]:
best_df_everest.head(20)

,name,occupation,count,birthtime,birthplace,location,point,chart
1,Noam_Chomsky,r_philosophers,1,"[1928, 1, 7, 07:00]","Philadelphia, Pennsylvania, United States","(Philadelphia, Philadelphia County, Pennsylvan...","(39n9527, 75w1635)",<flatlib.chart.Chart object at 0x617e648d0>
2,Albert_Camus,r_philosophers,2,"[1913, 1, 7, 02:00]","Mondovi, Algeria","(Drean, Dara Drean, El Tarf , , ...","(36n6851, 7e7471)",<flatlib.chart.Chart object at 0x617e7d6a0>
3,Mahatma_Gandhi,r_philosophers,3,"[1869, 1, 2, 07:08]","Porbandar, India","(Porbandar, Porbandar Taluka, Porbandar Distri...","(21n6409, 69e611)",<flatlib.chart.Chart object at 0x617f0a518>
5,Denis_Diderot,r_philosophers,5,"[1713, 1, 5, 17:00]","Langres, France","(Langres, Haute-Marne, Grand Est, France mtro...","(47n8656, 5e3314)",<flatlib.chart.Chart object at 0x617f0ae80>
7,Johann_Gottfried_Herder,r_philosophers,7,"[1744, 1, 25, 23:30]","Mohrungen, Poland","(Morg, gmina Morg, powiat ostrdzki, wojewd...","(53n912, 19e928)",<flatlib.chart.Chart object at 0x617f0ab70>
8,Soeren_Kierkegaard,r_philosophers,8,"[1813, 1, 5]","Copenhagen, Denmark","(Kbenhavn, Kbenhavns Kommune, Region Hovedst...","(55n6867, 12e5701)",<flatlib.chart.Chart object at 0x617f2d1d0>
9,Friedrich_Nietzsche,r_philosophers,9,"[1844, 1, 15, 10:00]","Roecken, Germany","(Rcken, Ltzen, Burgenlandkreis, Sachsen-Anha...","(51n242, 12e1143)",<flatlib.chart.Chart object at 0x617f2d2e8>
10,Bertrand_Russell,r_philosophers,10,"[1872, 1, 18, 17:45]","Trelleck, Wales, United Kingdom","(Trelleck Grange, Devauden, Monmouthshire, Wal...","(51n7111, 2w7356)",<flatlib.chart.Chart object at 0x617f3eef0>
11,Philip_K._Dick,r_philosophers,11,"[1928, 1, 16, 12:15]","Chicago, Illinois, United States","(Chicago, Cook County, Illinois, United States...","(41n8756, 87w6244)",<flatlib.chart.Chart object at 0x617e50320>
13,Karl_Marx,r_philosophers,13,"[1818, 1, 5, 02:00]","Trier, Germany","(Trier, Rheinland-Pfalz, 54290, Deutschland, (...","(49n7596, 6e6442)",<flatlib.chart.Chart object at 0x617f3ed30>
15,Ernst_Bloch,r_philosophers,15,"[1885, 1, 8, 08:00]","Ludwigshafen, Germany","(Ludwigshafen am Rhein, Rheinland-Pfalz, 67061...","(49n4704, 8e4382)",<flatlib.chart.Chart object at 0x617e48a90>
19,Gilles_Deleuze,r_philosophers,19,"[1925, 1, 18, 02:45]","Paris, France","(Paris, le-de-France, France mtropolitaine, ...","(48n8567, 2e3515)",<flatlib.chart.Chart object at 0x617e48780>
20,Friedrich_Engels,r_philosophers,20,"[1820, 1, 28, 21:00]","Wuppertal, Germany","(Wuppertal, Nordrhein-Westfalen, 42285, Deutsc...","(51n264, 7e178)",<flatlib.chart.Chart object at 0x617e81ac8>
21,Ludwig_Feuerbach,r_philosophers,21,"[1804, 1, 28, 01:30]","Landshut, Germany","(Landshut, Bayern, Deutschland, (48.536217, 12...","(48n5362, 12e1517)",<flatlib.chart.Chart object at 0x617e81c88>
22,Michel_Foucault,r_philosophers,22,"[1926, 1, 15, 07:30]","Poitiers, France","(Poitiers, Vienne, Nouvelle-Aquitaine, France ...","(46n5803, 0e3402)",<flatlib.chart.Chart object at 0x617ebe0f0>
23,Erich_Fromm,r_philosophers,23,"[1900, 1, 23, 19:30]","Frankfurt, Germany","(Frankfurt am Main, Hessen, Deutschland, (50.1...","(50n1106, 8e6821)",<flatlib.chart.Chart object at 0x617ebe5c0>
24,David_Hume,r_philosophers,24,"[1711, 1, 7]","Edinburgh, Scotland, United Kingdom","(Edinburgh, City of Edinburgh, Scotland, EH1 3...","(55n9533, 3w1884)",<flatlib.chart.Chart object at 0x617ec1048>
25,Emmanuel_Lasker,r_philosophers,25,"[1868, 1, 24, 15:00]","Berlin, Germany","(Berlin, Deutschland, (52.5170365, 13.3888599))","(52n517, 13e3889)",<flatlib.chart.Chart object at 0x617ec1f60>
26,Maria_Montessori,r_philosophers,26,"[1870, 1, 31, 03:30]","Chiaravalle, Italy","(Chiaravalle, Ancona, Marche, 60033, Italia, (...","(43n6027, 13e3246)",<flatlib.chart.Chart object at 0x617ec54e0>
28,Rudolf_Steiner,r_philosophers,28,"[1861, 1, 25, 23:15]","Donji Kraljevec, Croatia","(Donji Kraljevec, Opina Donji Kraljevec, Mei...","(46n368, 16e6486)",<flatlib.chart.Chart object at 0x617ec52b0>

Sweet, it works!!

I'm just gonna export this as a csv.

In [350]:
best_df_everest.to_csv('r_philosophers_charted.csv', index=False)