In [1]:
import warnings
warnings.filterwarnings('ignore')

from pymongo import MongoClient
import pprint

import copy
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [2]:
occupations_url = 'https://famouspeople.astro-seek.com/filter_occupation/'
occupations_r = requests.get(occupations_url)

client = MongoClient('localhost', 27017)
db = client.metroid
pages = db.pages

pages.insert_one({'html': occupations_r.content})

soup = BeautifulSoup(occupations_r.content, 'html')

In [4]:
div = soup.find('div', {'class': 'tab_content', 'id': 'tab8', 'style': 'display: block;'})
name = div.find('optgroup', {'label': 'Occupation'})
#name = div.find('optgroup', {'label': 'Sports'})
#name = div.find('optgroup', {'label': 'Arts'})
#name = div.find('optgroup', {'label': 'Other'})


rows = name.find_all('option')
all_rows = []

for row in rows[0:]:
    #new_row = row.find_all('option values').text.strip()
    new_row = row.text.strip()
    all_rows.append(new_row)




occupations_list = [_.lower() for _ in all_rows]

occupations_list_mod = []
for elem in occupations_list:
    new_elem = elem.replace(', ', '-')
    newest_elem = new_elem.replace(' ', '-')
    occupations_list_mod.append(newest_elem)


url_beginning = "https://famouspeople.astro-seek.com/filter_occupation/?narozeni_stat=&povolani="
url_ending = "&narozeni_stat=&pohlavi=&razeni="

occupations_urls_mod = [url_beginning + occupation_title + url_ending for occupation_title in occupations_list_mod]

df_occupation = pd.DataFrame(occupations_urls_mod, columns=['urls'])
df_occupation['names'] = occupations_list_mod

#df_sports = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_sports['names'] = occupations_list_mod

#df_arts = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_arts['names'] = occupations_list_mod

#df_other = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_other['names'] = occupations_list_mod

In [5]:
df_occupation.head()

                                                urls        names
0  https://famouspeople.astro-seek.com/filter_occ...  astrologers
1  https://famouspeople.astro-seek.com/filter_occ...     chemists
2  https://famouspeople.astro-seek.com/filter_occ...        cooks
3  https://famouspeople.astro-seek.com/filter_occ...    diplomats
4  https://famouspeople.astro-seek.com/filter_occ...      doctors

In [6]:
div = soup.find('div', {'class': 'tab_content', 'id': 'tab8', 'style': 'display: block;'})
#name = div.find('optgroup', {'label': 'Occupation'})
name = div.find('optgroup', {'label': 'Sports'})
#name = div.find('optgroup', {'label': 'Arts'})
#name = div.find('optgroup', {'label': 'Other'})


rows = name.find_all('option')
all_rows = []

for row in rows[0:]:
    #new_row = row.find_all('option values').text.strip()
    new_row = row.text.strip()
    all_rows.append(new_row)




occupations_list = [_.lower() for _ in all_rows]

occupations_list_mod = []
for elem in occupations_list:
    new_elem = elem.replace(', ', '-')
    newest_elem = new_elem.replace(' ', '-')
    occupations_list_mod.append(newest_elem)


url_beginning = "https://famouspeople.astro-seek.com/filter_occupation/?narozeni_stat=&povolani="
url_ending = "&narozeni_stat=&pohlavi=&razeni="

occupations_urls_mod = [url_beginning + occupation_title + url_ending for occupation_title in occupations_list_mod]

#df_occupation = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_occupation['names'] = occupations_list_mod

df_sports = pd.DataFrame(occupations_urls_mod, columns=['urls'])
df_sports['names'] = occupations_list_mod

#df_arts = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_arts['names'] = occupations_list_mod

#df_other = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_other['names'] = occupations_list_mod

In [7]:
df_sports.head()

                                                urls               names
0  https://famouspeople.astro-seek.com/filter_occ...            athletes
1  https://famouspeople.astro-seek.com/filter_occ...    baseball-players
2  https://famouspeople.astro-seek.com/filter_occ...  basketball-players
3  https://famouspeople.astro-seek.com/filter_occ...      figure-skaters
4  https://famouspeople.astro-seek.com/filter_occ...    football-players

In [8]:
div = soup.find('div', {'class': 'tab_content', 'id': 'tab8', 'style': 'display: block;'})
#name = div.find('optgroup', {'label': 'Occupation'})
#name = div.find('optgroup', {'label': 'Sports'})
name = div.find('optgroup', {'label': 'Arts'})
#name = div.find('optgroup', {'label': 'Other'})


rows = name.find_all('option')
all_rows = []

for row in rows[0:]:
    #new_row = row.find_all('option values').text.strip()
    new_row = row.text.strip()
    all_rows.append(new_row)




occupations_list = [_.lower() for _ in all_rows]

occupations_list_mod = []
for elem in occupations_list:
    new_elem = elem.replace(', ', '-')
    newest_elem = new_elem.replace(' ', '-')
    occupations_list_mod.append(newest_elem)


url_beginning = "https://famouspeople.astro-seek.com/filter_occupation/?narozeni_stat=&povolani="
url_ending = "&narozeni_stat=&pohlavi=&razeni="

occupations_urls_mod = [url_beginning + occupation_title + url_ending for occupation_title in occupations_list_mod]

#df_occupation = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_occupation['names'] = occupations_list_mod

#df_sports = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_sports['names'] = occupations_list_mod

df_arts = pd.DataFrame(occupations_urls_mod, columns=['urls'])
df_arts['names'] = occupations_list_mod

#df_other = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_other['names'] = occupations_list_mod

In [9]:
df_arts.head()

                                                urls       names
0  https://famouspeople.astro-seek.com/filter_occ...      actors
1  https://famouspeople.astro-seek.com/filter_occ...  architects
2  https://famouspeople.astro-seek.com/filter_occ...     artists
3  https://famouspeople.astro-seek.com/filter_occ...  cameramans
4  https://famouspeople.astro-seek.com/filter_occ...   composers

In [10]:
div = soup.find('div', {'class': 'tab_content', 'id': 'tab8', 'style': 'display: block;'})
#name = div.find('optgroup', {'label': 'Occupation'})
#name = div.find('optgroup', {'label': 'Sports'})
#name = div.find('optgroup', {'label': 'Arts'})
name = div.find('optgroup', {'label': 'Other'})


rows = name.find_all('option')
all_rows = []

for row in rows[0:]:
    #new_row = row.find_all('option values').text.strip()
    new_row = row.text.strip()
    all_rows.append(new_row)




occupations_list = [_.lower() for _ in all_rows]

occupations_list_mod = []
for elem in occupations_list:
    new_elem = elem.replace(', ', '-')
    newest_elem = new_elem.replace(' ', '-')
    occupations_list_mod.append(newest_elem)


url_beginning = "https://famouspeople.astro-seek.com/filter_occupation/?narozeni_stat=&povolani="
url_ending = "&narozeni_stat=&pohlavi=&razeni="

occupations_urls_mod = [url_beginning + occupation_title + url_ending for occupation_title in occupations_list_mod]

#df_occupation = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_occupation['names'] = occupations_list_mod

#df_sports = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_sports['names'] = occupations_list_mod

#df_arts = pd.DataFrame(occupations_urls_mod, columns=['urls'])
#df_arts['names'] = occupations_list_mod

df_other = pd.DataFrame(occupations_urls_mod, columns=['urls'])
df_other['names'] = occupations_list_mod

In [11]:
df_other.head()

                                                urls               names
0  https://famouspeople.astro-seek.com/filter_occ...           activists
1  https://famouspeople.astro-seek.com/filter_occ...           cannibals
2  https://famouspeople.astro-seek.com/filter_occ...  children-of-celebs
3  https://famouspeople.astro-seek.com/filter_occ...      directors-ceos
4  https://famouspeople.astro-seek.com/filter_occ...            founders

In [12]:
df_occupation.to_csv('occupation_attempt.csv', index=False)
df_sports.to_csv('sports_attempt.csv', index=False)
df_arts.to_csv('arts_attempt.csv', index=False)
df_other.to_csv('other_attempt.csv', index=False)

In [13]:
frames = [df_occupation, df_sports, df_arts, df_other]
result = pd.concat(frames)

In [15]:
result.reset_index(drop=True, inplace=True)
result

                                                 urls                   names
0   https://famouspeople.astro-seek.com/filter_occ...             astrologers
1   https://famouspeople.astro-seek.com/filter_occ...                chemists
2   https://famouspeople.astro-seek.com/filter_occ...                   cooks
3   https://famouspeople.astro-seek.com/filter_occ...               diplomats
4   https://famouspeople.astro-seek.com/filter_occ...                 doctors
5   https://famouspeople.astro-seek.com/filter_occ...           entrepreneurs
6   https://famouspeople.astro-seek.com/filter_occ...          fashion-models
7   https://famouspeople.astro-seek.com/filter_occ...  journalists-publicists
8   https://famouspeople.astro-seek.com/filter_occ...                 lawyers
9   https://famouspeople.astro-seek.com/filter_occ...          mathematicians
10  https://famouspeople.astro-seek.com/filter_occ...            philosophers
11  https://famouspeople.astro-seek.com/filter_occ...              physicists
12  https://famouspeople.astro-seek.com/filter_occ...         pilots-aviators
13  https://famouspeople.astro-seek.com/filter_occ...             politicians
14  https://famouspeople.astro-seek.com/filter_occ...              porn-stars
15  https://famouspeople.astro-seek.com/filter_occ...              presenters
16  https://famouspeople.astro-seek.com/filter_occ...              presidents
17  https://famouspeople.astro-seek.com/filter_occ...     priests-theologians
18  https://famouspeople.astro-seek.com/filter_occ...               producers
19  https://famouspeople.astro-seek.com/filter_occ...           psychologists
20  https://famouspeople.astro-seek.com/filter_occ...                  rulers
21  https://famouspeople.astro-seek.com/filter_occ...    scientists-inventors
22  https://famouspeople.astro-seek.com/filter_occ...                soldiers
23  https://famouspeople.astro-seek.com/filter_occ...        stunt-performers
24  https://famouspeople.astro-seek.com/filter_occ...                teachers
25  https://famouspeople.astro-seek.com/filter_occ...               the-popes
26  https://famouspeople.astro-seek.com/filter_occ...             translators
27  https://famouspeople.astro-seek.com/filter_occ...            voice-actors
28  https://famouspeople.astro-seek.com/filter_occ...                athletes
29  https://famouspeople.astro-seek.com/filter_occ...        baseball-players
..                                                ...                     ...
41  https://famouspeople.astro-seek.com/filter_occ...          tennis-players
42  https://famouspeople.astro-seek.com/filter_occ...                  actors
43  https://famouspeople.astro-seek.com/filter_occ...              architects
44  https://famouspeople.astro-seek.com/filter_occ...                 artists
45  https://famouspeople.astro-seek.com/filter_occ...              cameramans
46  https://famouspeople.astro-seek.com/filter_occ...               composers
47  https://famouspeople.astro-seek.com/filter_occ...              conductors
48  https://famouspeople.astro-seek.com/filter_occ...                 dancers
49  https://famouspeople.astro-seek.com/filter_occ...               designers
50  https://famouspeople.astro-seek.com/filter_occ...               directors
51  https://famouspeople.astro-seek.com/filter_occ...               musicians
52  https://famouspeople.astro-seek.com/filter_occ...           opera-singers
53  https://famouspeople.astro-seek.com/filter_occ...                painters
54  https://famouspeople.astro-seek.com/filter_occ...           photographers
55  https://famouspeople.astro-seek.com/filter_occ...                   poets
56  https://famouspeople.astro-seek.com/filter_occ...          script-writers
57  https://famouspeople.astro-seek.com/filter_occ...               sculptors
58  https://famouspeople.astro-seek.com/filter_occ...                 singers
59  https://famouspeople.astro-seek.com/filter_occ...                 writers
60  https://famouspeople.astro-seek.com/filter_occ...               activists
61  https://famouspeople.astro-seek.com/filter_occ...               cannibals
62  https://famouspeople.astro-seek.com/filter_occ...      children-of-celebs
63  https://famouspeople.astro-seek.com/filter_occ...          directors-ceos
64  https://famouspeople.astro-seek.com/filter_occ...                founders
65  https://famouspeople.astro-seek.com/filter_occ...               murderers
66  https://famouspeople.astro-seek.com/filter_occ...                   nazis
67  https://famouspeople.astro-seek.com/filter_occ...           siamese-twins
68  https://famouspeople.astro-seek.com/filter_occ...             transgender
69  https://famouspeople.astro-seek.com/filter_occ...         twins-multiples
70  https://famouspeople.astro-seek.com/filter_occ...                 victims

[71 rows x 2 columns]

In [17]:
result.to_csv('concat_occupation_urls.csv', index=False)